<h1>Food Recipe</h1>
<div>ID:<%=@food.id%></div>
<div>Ingredient:<%= @food.ingredient %></div>
<div>Spice: <%= @food.spice %></div>
<div>Measurement: <%= @food.measurement%></div>

<%= link_to "Delete recipe", "/foods/#{@food.id}", method: :delete %>
